<%= form_with(model: todo_list, local: true) do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2>很抱歉，任務無法成功建立</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '待做事項：' %>
    <%= form.text_field :name, id: :todo_list_name %>
  </div>

  <div class="field">
    <%= form.label :duedate, '預計完成日期：' %>
    <%= form.date_select :duedate, id: :todo_list_duedate %>
  </div>

  <div class="field">
    <%= form.label :note, '說明：' %>
    <%= form.text_field :note, id: :todo_list_note %>
  </div>

  <div class="actions">
    <%= form.submit '送出' %>
  </div>
<% end %>
